/* #03254c
    #1167b1
    #187bcd
    #2a9df4
    #d0efff
*/

.KinoButton {
    padding: 10px;
    margin: 4px;
    border-radius: 12px;
    border: solid 2px;
    border-color: #03254c
}

.KinoButton:hover {
    background-color: white;
}

.KinoButton-Main {
    background-color: #187bcd;
}


.KinoButton-Secondary {
    background-color: #d0efff;
}


.TopBanner {
    background-color: #d0efff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #187bcd;
}

.Flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 1%;
    margin-bottom: 1%;

}

.MovieBox {
    background: rgb(0, 212, 255);
    background: radial-gradient(circle, rgba(0, 212, 255, 1) 2%, rgba(43, 43, 255, 0.6842087176667542) 79%);
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #187bcd;
    margin: 2%;
    display: flex;
    align-items: center;


}

.MoviePoster {
    margin: 15px;
    width: 337.5x;
    height: 500px;
    transition-property: height;
    transition-duration: 1s;
    transition-delay: 0
}

.MoviePoster:hover {
    height: 520px
}

.BottomBanner {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d0efff;
    display:flex;
    align-items: right;


}

