/* #03254c
    #1167b1
    #187bcd
    #2a9df4
    #d0efff
*/

.KinoButton {
    padding: 10px;
    margin: 4px;
    border-radius: 12px;
    border: solid;
    border-color: #03254c
}

.KinoButton-Main {
    background-color: #187bcd;
}


.KinoButton-Secondary {
    background-color: #d0efff;
}


.TopBanner {
    background-color:     #2a9df4;
    display: flex;
    justify-content: space-between;
}

.Flex{
display: flex;
align-items: center;
justify-content: space-between;
align-self: center;
margin-left:100px;
margin-right: 100px;
margin-top: 20px;

}
.MovieBox{
    background-color:     #d0efff;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;


}
.MoviePoster{
    margin: 15px

}